{% extends "base.html" %}

{% block title %} 
<title>RRHH</title>
{% endblock %}

{% block logo %}
<a class="navbar-brand" href="/">GRUAS & ASOCIADOS</a>
{% endblock logo %}

{% block navbar %}
    {% if user.category == 0 %}
    <a class="nav-link" href="/trabajadores">TRABAJADORES</a> 

    {% elif user.category == 1 %}
    <a class="nav-link" href="/trabajadores">TRABAJADORES</a>
    <a class="nav-link" href="/supervision">SUPERVISION</a>    

    {% elif user.category == 2 %}
    <a class="nav-link" href="/trabajadores">TRABAJADORES</a>
    <a class="nav-link" href="/supervision">SUPERVISION</a>
    <a class="nav-link" href="/sstma">SSTMA</a>  

    {% elif user.category == 3 %}
    <a class="nav-link" href="/trabajadores">TRABAJADORES</a>
    <a class="nav-link" href="/supervision">SUPERVISION</a>
    <a class="nav-link" href="/sstma">SSTMA</a>
    <a class="nav-link active" href="#">RRHH</a>
    {% endif %}
{% endblock navbar %}

{% block content %}
<div>RRHH</div>
{% endblock %}
