{% extends "base.html" %}

{% block title %} 
<title>RRHH</title>
{% endblock %}

{% block logo %}
<a class="navbar-brand" href="/">GRUAS & ASOCIADOS</a>
{% endblock logo %}

{% block navbar %}
    {% if user.category == 0 %}
    <a class="nav-link" href="/trabajadores">TRABAJADORES</a> 

    {% elif user.category == 1 %}
    <a class="nav-link" href="/trabajadores">TRABAJADORES</a>
    <a class="nav-link" href="/supervision">SUPERVISION</a>    

    {% elif user.category == 2 %}
    <a class="nav-link" href="/trabajadores">TRABAJADORES</a>
    <a class="nav-link" href="/supervision">SUPERVISION</a>
    <a class="nav-link" href="/sstma">SSTMA</a>  

    {% elif user.category == 3 %}
    <a class="nav-link" href="/trabajadores">TRABAJADORES</a>
    <a class="nav-link" href="/supervision">SUPERVISION</a>
    <a class="nav-link" href="/sstma">SSTMA</a>
    <a class="nav-link active" href="#">RRHH</a>
    {% endif %}
{% endblock navbar %}

{% block content %}
<div class="row m-2">     
    <div class="col-lg-3 col-sm-3 p-1">
        <input type="text" name="username" class="form-control" id="username" placeholder="username" maxlength="10" >
    </div>
    <div class="col-lg-3 col-sm-3 p-1">
        <input type="text" name="password" class="form-control col-sm-3" id="password" placeholder="password" maxlength="10" >
    </div>
    <div class="col-lg-4 col-sm-6 p-1">
        <input type="text" name="name" class="form-control col-sm-4" id="name" placeholder="nombre" maxlength="30">
    </div>
    <div class="col-lg-2 col-sm-3 p-1">
        <input type="text" name="category" class="form-control col-sm-2" id="category" placeholder="categoria" maxlength="1">
    </div>
    <div class="col-lg-12 col-sm-3 p-1">
        <button class="btn btn-primary" type="submit">Grabar Datos</button>
    </div>  
</row>
{% endblock %}
