{% extends "base.html" %}

{% block title %} 
<title>Supervision</title>
{% endblock %}

{% block navbar %}
    {% if user.category == 0 %}
    <a class="nav-link" href="/trabajadores">TRABAJADORES</a>
    <a class="nav-link active" href="#">SUPERVISION</a>
    <a class="nav-link" href="#">SSTMA</a>
    <a class="nav-link" href="#">RRHH</a>
    {% elif user.category == 1 %}
    <a class="nav-link" href="/trabajadores">TRABAJADORES</a>
    <a class="nav-link active" href="#">SUPERVISION</a>
    <a class="nav-link" href="#">SSTMA</a>
    <a class="nav-link" href="#">RRHH</a>
    {% elif user.category == 2 %}
    <a class="nav-link" href="/trabajadores">TRABAJADORES</a>
    <a class="nav-link active" href="#">SUPERVISION</a>
    <a class="nav-link" href="/sstma">SSTMA</a>
    <a class="nav-link" href="#">RRHH</a>
    {% elif user.category == 3 %}
    <a class="nav-link" href="/trabajadores">TRABAJADORES</a>
    <a class="nav-link active" href="#">SUPERVISION</a>
    <a class="nav-link" href="/sstma">SSTMA</a>
    <a class="nav-link" href="/rrhh">RRHH</a>
    {% endif %}
{% endblock navbar %}

{% block content %}
{% endblock %}


