{% extends "base.html" %}

{% block title %} 
<title>Trabajadores</title>
{% endblock %}

{% block navbar %}
<a class="nav-link active" href="/">TRABAJADORES</a>
<a class="nav-link" href="/">SUPERVISION</a>
<a class="nav-link" href="/">SSTMA</a>
<a class="nav-link" href="/">RRHH</a>
{% endblock navbar %}

{% block content %}
<div class="container-xxl" style="padding-top: 20px; padding-bottom: 20px;">

    <div class="d-flex justify-content-center">
        <div style="width: 80%;">
            <div class="input-group rounded">
                <input id="search" type="search" class="form-control rounded searchbox-input" placeholder="Buscar" 
                    aria-label="Search" aria-describedby="search-addon" onkeyup="buttonUp();" required/>
            </div>
        </div>
    </div>
    
    <div class="row row-cols-xs-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 row-cols-xl-6">
        
        {% for datos in data %}
            <div class="col d-flex justify-content-center">
                <div class="card text-center" style="width: 200px; margin-top: 20px;">
                    
                    {% if datos.foto %}
                        <img src="/static/uploads/{{datos.foto}}" height="240" class="card-img-top" alt="..." data-bs-toggle="modal" data-bs-target="#i{{datos.dni}}" style="cursor: pointer;">
                    {% else %}
                        <img src="/static/prueba.jpg" height="240" class="card-img-top" alt="..." data-bs-toggle="modal" data-bs-target="#i{{datos.dni}}" style="cursor: pointer;">
                    {% endif %}                    

                    <div class="card-body">
                        <h6 class="card-title">{{ datos.paterno.capitalize() }} {{ datos.materno.capitalize() }}<br>{{ datos.nombre.title() }}</h6>
                        {{ datos.dni }}        
                    </div>
                </div>
            </div>
            
            <div class="modal fade" id="i{{datos.dni}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">{{ datos.paterno.capitalize() }} {{ datos.materno.capitalize() }} {{ datos.nombre.title() }}</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Nacimiento: {{ datos.nacimiento }} <br>
                            Ingreso: {{ datos.ingreso }} <br>
                            Licencia: {{ datos.licencia.upper() }} <br>
                            Categoria: {{ datos.categoria.upper() }} <br>
                            Revalidacion: {{ datos.revalidacion }} <br>
                            Distrito: {{ datos.distrito }} <br>
                            Domicilio: {{ datos.domicilio.title() }} <br>
                            Cuenta: {{ datos.cuenta }} <br>
                            Area: {{ datos.area.capitalize() }} <br>                         
                            
                            {% if datos.fotodni %}
                                <a href="/static/uploads/{{datos.fotodni}}" download="{{datos.fotodni}}" style="text-decoration:none">Dni</a>
                                &nbsp
                            {% endif %}

                            {% if datos.fotolicencia %}
                                <a href="/static/uploads/{{datos.fotolicencia}}" download="{{datos.fotolicencia}}" style="text-decoration:none">Licencia</a>
                                &nbsp
                            {% endif %}

                            {% if datos.fotopolicial %}
                                <a href="/static/uploads/{{datos.fotopolicial}}" download="{{datos.fotopolicial}}" style="text-decoration:none">Policial</a>
                            {% endif %}  
                            
                        </div>                       
                    </div>
                </div>
            </div>

        {% endfor %}    
    </div>

</div>

<!--JS-->
<script src="{{ url_for('static', path='filtrar.js') }}"></script>
{% endblock %}


